{# templates/category/new.html.twig #}

<p>New Category</p>

{{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.category, {'label':'Kategória: '} ) }}
        </div>

        <div class="col" id="some-custom-id">
            {{ form_row(form.description, {'label':'Leírás: '} ) }}
        </div>
    </div>


{{ form_end(form) }}

<a href="/category">Index</a>
